@{
    ViewData["Title"] = Model.Name;
}
<div>
    <img src="@Model.Avatar" class="user" />
</div>
<div class="text-center;">
    <h2>@Model.Name</h2>
    <br />
    <h4>@Model.Bio</h4>
    <br />
    <h4>My hobby: @Model.HobbyTitle</h4>
    <h5>@Model.HobbyDescription</h5>
</div>