@{
    ViewData["Title"] = "Reid";
}
<div class="text-center;">
    <h2>@Model[0].Name</h2>
    <h4><br />      @Model[0].Bio</h4>
    <table class="table table-bordered table-striped">
        <!--<tr>
            <td>Id</td>
            <td>@Model[0].TeamMemberId</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model[0].Name</td>
        </tr>
        <tr>
            <td>Bio</td>
            <td>@Model[0].Bio</td>
        </tr>-->
        <tr>
            <td>HobbyTitle</td>
            <td>@Model[0].HobbyTitle</td>
        </tr>
        <tr>
            <td>HobbyDescription</td>
            <td>@Model[0].HobbyDescription</td>
        </tr>
    </table>
</div>
